@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --primery: #4CAF4F;
    --secondery: ;
    --backgound: ;
    --text-color: ;
    --black-color: #000000;
    --white-color: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.navbar {
    background-color: #F5F7FA;
}

.Mybtn {
    background: var(--primery);
    padding-left: 24px;
    padding-right: 24px;
    font-size: 12px;
}

.onebtn {
    color: var(--primery);

}

section {
    padding: 60px 0;
}

.Hero_section,
.Tesla_section,
.Helping_Section,
.small_Div,
.Demo_section {
    background-color: #F5F7FA;
}

.Green {
    color: var(--primery);

}

.left_side h1 {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 3rem;
}

@media (max-width: 576px) {

    .left_side h1 {

        font-size: 2rem;
    }
}

.left_side p {
    color: #717171;
    font-size: 0.8rem;
}

.center_text {
    text-align: center;
    letter-spacing: 1px;

}

@media (min-width: 992px) {
    .center_text {
        width: 50%;
        margin: auto;
    }
}

.center_text h2,
.left-Text h2 {
    color: #4D4D4D;
    font-weight: 600;
    font-size: 32px;

}

.center_text p {
    color: #717171;
    font-size: 0.8rem;
}

.all_icon {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.all_icon img {
    width: 40px;
}

.client_icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.client_icons img {
    width: 50px;
}

.card_Div {
    box-shadow: 0px 0px 2px 2px #F5F7FA;
}

.card_Div img {
    width: 60px;
}

.right_text img {
    width: 40px;
}

.Members h4 {
    font-weight: 700;
    margin: 0;
}

.Members p {
    color: #717171;
    font-size: 0.9rem;
    margin: 0;
}

.tesla_text>p {
    color: #717171;
}

.card_image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.small_Div {
    padding: 20px 12px;
    position: relative;
    bottom: 80px;
    border-radius: 6px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.small_Div p {
    font-weight: 600;
    color: #717171;
}

.Main_Read {
    display: flex;
    justify-content: center;
}

.Footer_section {
    background-color: #263238;
}


.nexcent_Div img {
    width: 40px;
}

.nexcent_Div h2 {
    font-weight: 600;
    color: var(--white-color);
    letter-spacing: 1px;
}

.nexcent_Div p {
    font-size: 12px;
    color: var(--white-color);
    font-weight: 200;
}


.footer_icon i {
    color: var(--white-color);
    background-color: #3d4246;
    padding: 12px;
    font-size: 20px;
    border-radius: 50%;
}

.col_Div h4 {
    font-size: 18px;
    color: var(--white-color);
    padding-bottom: 12px;
}

.col_Div ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.col_Div ul li {
    color: var(--white-color);
    font-size: 12px;
    font-weight: 200;
    padding-bottom: 12px;
}

.input-group input {
    font-size: 14px;
    background-color: #3c4246;
    border-radius: 6px;
    border: none;
}

.input-group-text {
    background-color: #3c4246;
    border: none;
    color: var(--white-color);
}